@import "_form.scss";
@import "_header.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: black;
}
.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.dumb-text {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 1rem;
    margin-bottom: 34px;
}
